<% provide(:title, "Home") %>


<div class="mainCont">
<%= image_tag("Building.jpg", alt: "Welcome Logo", :class => "welcomeIm") %>    
    
    

<h4>Upgrading the Gardens at St Joseph's</h4>
<p>We want the residents to enjoy their time outdoors and so please help us by first picking the reccreational area you would like to help improve and then by making an online purchase of an item of garden furniture or a landscaping work from the selection below to make their surroundings more enjoyable.
</p>
<br>

<br>

<h4>Pick a garden or courtyard</h4>
<p>Select which recreational area you would like to improve</p>

<%=render 'layouts/categories'%>

<h4>Pick an item of furniture or a job to be done</h4>
<p>See below the list of furniture and works available for purchase for each area</p>

<%=render 'layouts/popular'%>

<p>
    
  <% @categories.each do |category| %>
       <div class="itemhols">
           
        <p><%= category.description %></p>
           
         </div>
         
</p>


    </div>
    <% end %>


