<% provide(:title, "Home") %>


<div class="mainCont">
<%= image_tag("Building.jpg", alt: "Welcome Logo", :class => "welcomeIm") %>    
    
    

<h1>Charity Fund Raising App for SJAIDSF&F</h1>
<p>This is the fundaraising website for St Joseph's
See below some of our available categories and most Popular products
</p>
<br>

<br>

<h2>Categories for donation</h2>
<i class="fas fa-train"></i>
Train!
<%=render 'layouts/categories'%>

<br>
<h2>Popular products</h2>

<%=render 'layouts/popular'%>

<p>
    
  <% @categories.each do |category| %>
       <div class="itemhols">
           
        <p><%= category.description %></p>
           
         </div>
         
</p>


    </div>
    <% end %>


