<% provide(:title, "Home") %>


<div class="mainCont">
<%= image_tag("Building.jpg", alt: "Welcome Logo", :class => "welcomeIm") %>    
    
    

<h1>Charity Fund Raising App for SJAIDSF&F</h1>
<p>Welcome to your first home page! blah blah blha!</p>
<br>

<br>

<%=render 'layouts/categories'%>
<%=render 'layouts/popular'%>

<p>
    
  <% @categories.each do |category| %>
       <div class="itemhols">
           
        <p><%= category.description %></p>
           
         </div>
         
</p>


    </div>
    <% end %>


