<% provide(:title, "Home") %>


<div class="mainCont">
<%= image_tag("Building.jpg", alt: "Welcome Logo", :class => "welcomeIm") %>    
    
    

<h4>Upgrading the Gardens at St Joseph's</h4>
<p>We want the residents to enjoy their time outdoors and so please help us by purchasing the garden furniture and landscapeing work from the selection below to make their surroundings more enjoyable.
</p>
<br>

<br>

<h2>Categories for donation</h2>

<%=render 'layouts/categories'%>

<br>
<h2>Popular products</h2>

<%=render 'layouts/popular'%>

<p>
    
  <% @categories.each do |category| %>
       <div class="itemhols">
           
        <p><%= category.description %></p>
           
         </div>
         
</p>


    </div>
    <% end %>


