<% provide(:title, "Home") %>



<h1>Charity Website</h1>


<div class="mainCont">
<%= image_tag("Inert image here", alt: "Welcome Logo", :class => "welcomeIm") %>    
    
    
<h1>Home</h1>
<p>Welcome to your first home page</p>
    
<%=render 'layouts/categories'%>
 
<h1>Categories</h1>
<br>

  <% @categories.each do |category| %>
       <div class="itemhols">
           
           <p><%= category.description %></p>
         </div>
    
    <% end %>

</div>
